<div #buttons>
    <h2 mat-dialog-title>{{father.chartTitle}} configuration</h2>
    <div style="display: flex; justify-content: space-between;">
        <mat-form-field style="margin-right: 10px;">
            <mat-label>Chart type</mat-label>
            <mat-select [(value)]="father.chartData.chartType">
                <mat-option *ngFor="let item of father.chartTypes" value="{{item}}" (click)="setChartType(item)">
                    {{item}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Legend</mat-label>
            <mat-select [(value)]="father.chartData.chartLegendPosition">
                <mat-option *ngFor="let item of father.chartLegendPositions" value="{{item}}"
                    (click)="selectLegendPosition(item)">
                    {{item | titlecase}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Table</mat-label>
            <mat-select [(value)]="father.chartData.selectedTable" (click)="getTables()">
                <mat-option *ngFor="let item of father.rawTableNames" value="{{item}}" (click)="selectTable(item)">
                    {{item}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>




    <button mat-raised-button [matMenuTriggerFor]="columns" (click)="getColumns()" color="primary"
        *ngIf="father.chartData.selectedTable != null">Add column</button>
    <mat-menu #columns="matMenu">

        <div mat-menu-item *ngFor="let item of father.rawColumns, let i = index">
            <mat-checkbox (click)="addChartColumn(item,i)">{{item}}</mat-checkbox>
        </div>
    </mat-menu>

    <button mat-raised-button (click)="reset()" color="primary"> Reset</button>

    <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of father.chartData.chartColumns" cdkDrag>{{item}}</div>
    </div>


    <h5 mat-dialog-title>Preview:</h5>

    <div style=" text-align: center; min-height: 500px; display: flex;">
        <div #chart style="width: auto;
        margin: 0 auto !important;">

        </div>
    </div>
</div>