<gridster-item GridElem [item]="this">
    <div style="padding: 10px;">
        <button mat-button [matMenuTriggerFor]="appMenu"><i class="fas fa-chart-line"></i></button>
        <mat-menu #appMenu="matMenu">
            <button mat-menu-item *ngFor="let item of chartTypes" (click)="changeBarType(item)">{{item}}</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="columns">Column</button>
        <mat-menu #columns="matMenu">
            <!-- <button mat-menu-item *ngFor="let item of baseColumnNames" (click)="addToColumns(item)">{{item}}</button> -->
            <div mat-menu-item *ngFor="let item of baseColumnNames">
                <mat-checkbox (click)="addToColumns(item)">{{item}}</mat-checkbox>
            </div>
        </mat-menu>
        {{chartTitle}}
        <google-chart style="width: 100%; height: 100%;" [type]="myType" [data]="myData"
            [columnNames]="mycolumnNames">
        </google-chart>
    </div>

</gridster-item>