<gridster-item GridElem [item]="this" #mainScreen>

    <div #buttons>
        <button mat-button [matMenuTriggerFor]="appMenu"><i class="fas fa-chart-line"></i></button>
        <mat-menu #appMenu="matMenu">
            <button mat-menu-item *ngFor="let item of chartTypes" (click)="changeBarType(item)">{{item}}</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="tables" (click)="getDataBaseTables()">Table</button>
        <mat-menu #tables="matMenu">
            <button mat-menu-item *ngFor="let item of tableNames" (click)="selectTable(item)">{{item}}</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="columns" (click)="getTableColumns()">Column</button>
        <mat-menu #columns="matMenu">
            <!-- <button mat-menu-item *ngFor="let item of baseColumnNames" (click)="addToColumns(item)">{{item}}</button> -->
            <div mat-menu-item *ngFor="let item of baseColumnNames">
                <mat-checkbox (click)="addToColumns(item)">{{item}}</mat-checkbox>
            </div>
        </mat-menu>
    </div>
    <google-chart [width]="width" [height]="height" [type]="myType" [data]="myData" [columnNames]="colss" #chart>
    </google-chart>



</gridster-item>