<p>employees works!</p>

<table>
    <thead>
        <th>id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>E-mail</th>
        <th>Phone number</th>
        <th>Hire date</th>
        <th>Job id</th>
        <th>Salary</th>
        <th>CommisionPCT</th>
        <th>Manager id</th>
        <th>Department id</th>

    <tbody>
        <tr *ngFor="let entity of entities">
            <td>{{entity.id}}</td>
            <td>{{entity.name}}</td>
            <td>{{entity.lastName}}</td>
            <td>{{entity.email}}</td>
            <td>{{entity.phoneNumber}}</td>
            <td>{{entity.hireDate}}</td>
            <td>{{entity.jobId}}</td>
            <td>{{entity.salary}}</td>
            <td>{{entity.commisionPCT}}</td>
            <td>{{entity.managerId}}</td>
            <td>{{entity.departmentId}}</td>
        </tr>
    </tbody>



</table>