table{
    
    width: 90%;
    margin: auto;
    
}

.test{
    
    width: 90%;
    margin: auto;

}

.a{
    font-size: 8vw;
    margin: auto;
    width: 90%;
    margin-bottom: 0px;
}


.rows button {    
    visibility: hidden;
}
.rows:hover button  { 
    visibility: visible;   
} 
.lightSwitch{
    display: block;
    float: right;
    height: 100%;
    
   
}
button{
   
   
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    
    
}
