table{
    
    width: 90%;
    margin: auto;
    
}

.test{
    
    width: 90%;
    margin: auto;

}

.a{
    font-size: 100px;
    margin: auto;
    width: 90%;
    margin-bottom: 20px;
}


.rows button { 
    
    visibility: hidden;

}
.rows:hover button  { 
    
    
    visibility: visible;
    
} 

.lightSwitch{
    display: block;
    float: right;
    height: 100%;
    
   
}





button{
   
   
}