<div class="a">

    <div style="display: flex; float: left; ">
        <p style="margin: 0px;">{{tableName}}</p>
    </div>

    <div class="btn-group btn-group-toggle lightSwitch" data-toggle="buttons">
        <label class="btn btn-secondary "
            style="background-color: #f8f9fa; color:#343a40 ; display: flex; justify-content: flex-end;">
            <input type="radio" name="Light" id="option1" (click)="changeTheme()" [disabled]=!darkMode> <i
                class="far fa-sun"></i>
        </label>
        <label class="btn btn-secondary " style="background-color: #343a40; display: flex; justify-content: flex-end;">
            <input type="radio" name="Dark" id="option2" (click)="changeTheme()" [disabled]=darkMode><i
                class="far fa-moon"></i>
        </label>

    </div>

</div>

<!--TABLE-->

<table id="table" class="table table-striped table-hover table-light text-nowrap table-responsive-xl">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col" *ngFor="let head of displayedColumns ">{{head}}</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let emp of employees | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize ; let i = index"
            class="rows">
            <th scope="row" style="vertical-align: middle;">{{i+1+(page-1)*pageSize}}</th>
            <td *ngFor="let key of keys" style="vertical-align: middle;">{{emp[key]}}</td>
            <td style="display: table-cell; vertical-align: inherit; ">
                <button type="button" class="btn btn-outline-danger" (click)="open(deleteModal)"
                    (click)="deleteAcc=emp"><i class="fas fa-trash-alt"></i></button>
                <button type="button" class="btn btn-outline-info"><i class="far fa-edit"></i></button>
            </td>


        </tr>


    </tbody>
</table>

<div>
    <ng-template #deleteModal let-modal>

        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Are you sure?</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">


            <form>
                <button type="button" class="btn btn-outline-danger" style="float: right;"
                    (click)="test(deleteAcc)">Yes, delete</button>

            </form>
        </div>


    </ng-template>
</div>



<div style="width: 90%;margin: auto;margin-top: 30px;">
    <button type="button" class="btn btn-success" style="margin: 0px;" data-toggle="modal" data-target="#addModal"
        (click)="open(addModal)" (click)="prepareNewContainer()">Add</button>

    <ng-template #addModal let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Add new row</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">


            <form>
                <div class="form-group" *ngFor="let item of keys let i = index">
                    <div *ngIf="item != primaryKeyColumn || this.foreignKeyColumns.includes(item)">
                        <label>{{item}}</label>

                        <!--DROPDOWN SECTION-->
                        <div *ngIf="this.foreignKeyColumns.includes(item); else notDropdownBlock">
                            <div ngbDropdown>

                                <button class="btn btn-outline-dark" type="button" style="width: 100%;"
                                    ngbDropdownToggle (click)='getAvaiableRows([tableName,keys[i]])'>
                                    {{newRowContainer[i]}}
                                </button>
                                <div ngbDropdownMenu>
                                    <button ngbDropdownItem type="button" *ngFor="let foreignKey of foreignKeyElems"
                                        (click)="saveToContainer(i,foreignKey)">{{foreignKey}}</button>
                                </div>
                            </div>
                        </div>
                        <!--DATE SECTION-->
                        <ng-template #notDropdownBlock>
                            <div *ngIf="type[i]=='DATE';else notDateBlock" style="margin: 5px; text-align: center;">

                                <form class="form-inline">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker
                                                #d="ngbDatepicker" (keyup)="addElem(i,$event)"
                                                (dateSelect)="saveToContainer(i,($event.year +'-'+ $event.month +'-'+ $event.day).toString())">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary " (click)="d.toggle()"
                                                    type="button" style="margin: 0px;"><i
                                                        class="far fa-calendar-alt"></i></button>

                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                            <!--DEFAULT SECTION-->
                            <ng-template #notDateBlock>
                                <input class="form-control" (keyup)="inputToContainer(i,$event)">
                            </ng-template>



                        </ng-template>
                    </div>

                </div>

            </form>
        </div>
        <div class="modal-footer">
            <ngb-alert [hidden]="allertHidden" [type]="allertColor" (close)="closeAllert()"
                style="margin-bottom: 12px;">{{ messageToUser }}</ngb-alert>
            <button type="button" class="btn btn-outline-dark" (click)="sendNewElem()">Add</button>

        </div>
    </ng-template>

    <div ngbDropdown class="dropup " style="float: right;">
        <button ngbDropdownToggle class="btn btn-secondary dropdown-toggle">
            {{pageSize}}
        </button>
        <div ngbDropdownMenu>
            <button ngbDropdownItem (click)="pageSize=10">10</button>
            <button ngbDropdownItem (click)="pageSize=30">30</button>
            <button ngbDropdownItem (click)="pageSize=50">50</button>
            <button ngbDropdownItem (click)="pageSize=100">100</button>
        </div>
    </div>

    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [rotate]="true" [pageSize]="pageSize"
        [maxSize]="5" [boundaryLinks]="true" class="d-flex justify-content-end ">
    </ngb-pagination>


    




</div>