<body class="mat-app-background">
  <mat-sidenav-container class="example-container" style="height: 100%;">
    <mat-sidenav #sidenav mode="push" (mouseleave)="sidenav.close()" [(opened)]="opened" style="width: 80px;">

      <div>
        <!-- <img src="{{ user.photoUrl }}" class="sideNavContent"> -->
        <!-- <h4>{{ user.name }}</h4>
        <p>{{ user.email }}</p> -->
      </div>
      <button class="sideNavContent" (click)="signInWithGoogle()">Sign in</button>
      <button class="sideNavContent" (click)="signOut()">Sign out</button>
      

      <button mat-raised-button color="primary" class="sideNavContent"><i class="fas fa-home fa-3x x"></i></button>

      <button mat-raised-button color="accent" [matMenuTriggerFor]="menu"  class="sideNavContent"><i class="fas fa-database fa-3x x"></i></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let item of tableNames" (click)="openTable(item)">{{item}}</button>
        
      </mat-menu>
      

      <a mat-raised-button color="primary" class="sideNavContent" href="https://github.com/SZtyro"><i class="fas fa-info fa-3x x"></i></a>

    </mat-sidenav>

    <mat-sidenav-content style="display: flex;">

      <div (mouseenter)="sidenav.open()" style="height: 100%;width: 1%; float: left; ">

      </div>

      <div style="width: 98%;">
        <router-outlet></router-outlet>
      </div>


      <div style="height: 100%;width: 1%; float: right; ">

      </div>


    </mat-sidenav-content>
  </mat-sidenav-container>

</body>