<body class="mat-app-background">
  <mat-sidenav-container class="example-container" style="height: 100%;">
    <mat-sidenav #sidenav mode="push" (mouseleave)="sidenav.toggle()" [(opened)]="opened" style="width: 15%;">

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="menuParentButton" >
              <i class="fas fa-database"></i> Database
            </mat-panel-title>

          </mat-expansion-panel-header>
          <mat-nav-list>
            <mat-list-item style="font-size: small;" role="listitem" *ngFor="let item of tableNames" (click)="openTable(item)" >
              {{item}}</mat-list-item>
          </mat-nav-list>

        </mat-expansion-panel>

      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="menuParentButton" >
              <i class="fas fa-cogs "></i>Settings
            </mat-panel-title>

          </mat-expansion-panel-header>
          <mat-nav-list>
            
          </mat-nav-list>

        </mat-expansion-panel>

      </mat-accordion>

      
    

      <a mat-button style="width: 100%;" href="https://github.com/SZtyro"><i class="fas fa-info "></i> Info</a>

    </mat-sidenav>

    <mat-sidenav-content>

      <div (mouseenter)="sidenav.open()" style="height: 100%;width: 2%; float: left;">

      </div>
      

      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>

</body>