<mat-sidenav-container class="example-container" style="height: 100%;">

        <mat-grid-list cols="4"  cdkDropList (cdkDropListDropped)="drop($event)">
                <mat-grid-tile *ngFor="let item of test" style="background-color: royalblue;" cdkDrag >{{item}}</mat-grid-tile>
                
                
                
        </mat-grid-list>

        <div class="col-lg-12">

                <div cdkDropList cdkDropListOrientation="horizontal" class=" row">
                        <app-reminder-widget></app-reminder-widget>






                </div>
        </div>

</mat-sidenav-container>