.uploadfilecontainer {
    
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    height: 200px;
    width: 80%;
    margin: 20px auto;
    border: 2px dashed #1C8ADB;
    border-radius: 10px;
}

.uploadfilecontainer:hover {
    cursor: pointer;
    background-color: #9ecbec !important;
    opacity: 0.8;
}

.files-list {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 10px auto;
    background: #ffffff;
    border: 1px dashed;
    border-radius: 12px;
    padding: 5px;
    color: #1c8adb;
}

.files-list .delete-file {
    background: transparent;
    border: none;
    cursor: pointer;
}

.files-list .delete-file img {
    width: 30px;
}

.drop-box {
    cursor: pointer;
    
    
    // text-align: center;
    padding: 10px;
    height: 400px;
    
  }
   
  .drag-over-title {
    display: none;
  }
   
  .drop-box.dragover {
    border: 5px dashed #DDD;
    opacity: 0.6;
  }
   
  .drop-box.dragover .drag-over-title {
    display: block;
  }
   
  .drop-box.dragover .drag-in-title {
    display: none;
  }
   
  input[type='file'] {
    display: none;
  }